# dependencies
node_modules

# logs
*.log
npm-debug.log*

# coverage directory used by tools like istanbul
coverage

# tests
__tests__

# settings
.vscode
.babelrc
.gitignore
.npmignore
.travis.yml
gulpfile.js
jsconfig.json
webpack.config.js

# misc
example
src
